<template>
  <div class="record">
    <pre>{{record}}</pre>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'Records',
  props: {
    record: Object
  },
  mounted() {
    console.log(Object.keys(this.record))
  },
  
  computed: {
    
  }
}
</script>

<style>

</style>