<template>
  <div class="app">
    <div class="container">
      <div class="records">
        <Record
          v-for="(record, i) in records"
          :key="i"
          :record="record"
        />
      </div>
    </div>
  </div>
</template>

<script>
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import HelloWorld from './components/HelloWorld.vue'
import Record from './components/Record.vue'
import { getFirestore, collection, addDoc, getDocs  } from "firebase/firestore"


export default {
  components: {
    HelloWorld,
    Record
  },

  data() {
    return {
      records: []
    }
  },
  
  async mounted() {
    let db = getFirestore()

    const querySnapshot = await getDocs(collection(db, "airlines"));

    let records = []
    querySnapshot.forEach((doc) => {
      let obj = doc.data()
      records.push(obj)
    });

    this.records = [...records]
  }
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
.container {
  
}
</style>
